:root{
    --primary-color: #0724ff;
    
}

*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;padding: 20px;
}
.box{
    display: flex;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--primary-color);
    text-align: center;
}

p{
    text-align: center;
}

.btn{
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 24px;
    border-color: #0724ff;
    margin: 15px 0;
    text-transform: uppercase;
    border-style: none;
}

.money-image{
    width: 200px;
    border-radius: 20px;
}

.currency{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.currency select{
    padding: 10px 30px 10px 10px;
    appearance: none;
    border: 1px solid #dedede;
    font-size: 16px;
    background: transparent;
    border-radius: 10px;
}

.currency input{
    border: 1px solid #dedede;
    background: transparent;
    font-size: 30px;
    text-align: right;
    width: 50%;
    border-radius: 10px;
}

.swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

select:focus, input:focus, button:focus{
    outline: 0;
}

.rate{
    color: #333;
    font-size: 18px;
}

@media (max-width: 600px){
  .box{
    width: 80%;
  }
}